@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  background-color: rgb(220, 220, 220);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 999;
}

.logged {
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.btn-new-post,
.btn-logout {
  font-size: 28px;
  margin-right: 10px;
  color: #a7a7a8;
  cursor: pointer;
}

.btn {
  color: white;
  background-color: #0095f6;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
}

.header-logo {
  padding: 15px 0 0 15px;
}

.user-name {
  font-weight: 700;
  cursor: pointer;
}

.header-logo-img > img {
  height: 40px;
  width: 150px;
  object-fit: contain;
  cursor: pointer;
}

.form-login {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.logo > img {
  height: 45px;
  width: 250px;
  object-fit: contain;
}

.form-login input[type=email],
.form-login input[type=password] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-login input[type=submit] {
  background-color: #0095f6;
  color: white;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
}

.validation {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.form-new-user {
  border-radius: 4px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.form-new-user h2 {
  color: rgb(142, 142, 142);
  font-size: 17px;
  padding-bottom: 15px;
}

.form-new-user input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-new-user input[type=submit] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 0;
  background-color: #0095f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

input[type=submit]:disabled {
  color: white;
  background-color: rgba(0, 149, 246, 0.3);
  border-color: rgba(0, 0, 0, 0);
}

.rules-new-user {
  font-size: 12px;
  color: rgb(142, 142, 142);
  text-align: center;
}

.modal-upload {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.9);
  z-index: 999;
}

.form-upload {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.close {
  position: absolute;
  right: -10px;
  top: -10px;
  text-align: center;
  color: white;
  line-height: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0095f6;
}

.textarea-upload-description {
  display: flex;
  border-top: #dcdcdc solid 1px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.textarea-upload-description .btn-emoji-list {
  background-color: white;
  color: #a7a7a8;
  cursor: pointer;
  border: 0;
  padding: 5px 5px;
  font-size: 28px;
}

.textarea-upload-description > textarea {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  resize: none;
}

.textarea-upload-description > textarea:focus {
  outline: none;
}

.textarea-upload-description input[type=submit] {
  background-color: white;
  cursor: pointer;
  color: #0095f6;
  border: 0;
  padding: 8px 10px;
  font-weight: 700;
}

.textarea-upload-description input[type=submit]:disabled {
  background-color: white;
  color: rgba(0, 149, 246, 0.3);
  border-color: rgba(0, 0, 0, 0);
}

.form-upload h2 {
  color: rgb(142, 142, 142);
  font-size: 22px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.upload-box-file:hover+label strong {
  color: #0095f6;
}

.upload-box-uploading,
.upload-box-success,
.upload-box-error {
  display: none;
}

.upload-box {
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 1.25rem;
  background-color: #f7f7f7;
  position: relative;
  padding: 60px 20px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.upload-box-file {
  display: inline-block;
  border-radius: 0;
  align-items: baseline;
  text-overflow: ellipsis;
  white-space: pre;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

div.upload-box-input label {
  cursor: pointer;
}

.upload-box-icon {
  width: 100%;
  height: 40px;
  fill: #0095f6;
  display: block;
  margin-bottom: 40px;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  vertical-align: middle;
  pointer-events: none;
}

.upload-box-preview img {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.preview {
  padding: 0;
}

.hidden {
  display: none;
}

.post {
  background-color: white;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 4px;
}

.header-post {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.header-post p {
  width: 100%;
  text-align: left;
}

.profile-photo-small {
  border-radius: 50%;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

.profile-photo-small.left {
  margin-right: 10px;
}

.profile-photo-small.right {
  margin-left: 10px;
}

.profile-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.profile-item {
  display: flex;
  justify-content: space-between;
}

.profile-info input,
.profile-info span {
  border: 0;
  font-size: 16px;
  flex: content;
  text-align: left;
  outline: none;
}

.profile-info label {
  font-weight: 700;
  padding-right: 5px;
  width: 20%;
}

.txt-profile-sep {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 1px solid rgba(37, 37, 37, 0.1);
}

.btn-edit {
  font-size: 18px;
  margin-left: 10px;
  color: #a7a7a8;
  cursor: pointer;
}

.post-likes {
  margin-left: 10px;
  vertical-align: top;
}

.btn-delete-post {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  font-weight: 700;
  font-size: 12px;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #0095f6;
}

.photo {
  position: relative;
  text-align: center;
  color: white;
}

.post .photo > img {
  width: 100%;
  object-fit: contain;
}

.post .photo .like-heart-post {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #828282;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
  cursor: pointer;
}

.like-o {
  animation: like-heart-post-animation 500ms linear;
}

@keyframes like-heart-post-animation {

  0%,
  to {
    opacity: 0;
    font-size: 40px;
    color: #f54551;
  }

  15% {
    opacity: .7;
    font-size: 50px;
    color: #e23642;
  }

  35% {
    opacity: .9;
    font-size: 60px;
    color: #e23642;
  }

  65% {
    opacity: .9;
    font-size: 80px;
    color: #e23642;
  }

  100% {
    opacity: 1;
    font-size: 100px;
    color: #e23642;
  }
}

.post > p {
  padding-top: 10px;
  padding-left: 15px;
}

.post textarea {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 4px;
  padding: 10px;
  resize: none;
}

.post textarea:focus {
  outline: none;
}

.post-description {
  margin-bottom: 10px;
}

form.form-add-comment {
  border-top: #dcdcdc solid 1px;
  display: flex;
  padding: 5px;
}

.post input[type=submit] {
  background-color: white;
  cursor: pointer;
  color: #0095f6;
  border: 0;
  padding: 8px 10px;
  font-weight: 700;
}

img {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.post .btn-emoji-list {
  background-color: white;
  color: #a7a7a8;
  cursor: pointer;
  border: 0;
  padding: 5px 5px;
  font-size: 28px;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(37, 37, 37, 0.9);
}

.confirm-dlg,
.message-dlg {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  width: 80%;
  height: 250px;
  max-width: 500px;
}

div.dialog p.dlg-title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

div.dlg-msg {
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  color: #e23642;
  background-color: #fbe9e7;
  height: 140px;
  width: 100%;
  padding-top: 10px;
  margin-top: 15px;
}

.dlg-msg>p {
  margin-top: 10px;
  margin-left: 62px;
  text-align: left;
}

span.dlg-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 30px;
  margin-top: 6px;
}

div.dialog button {
  width: auto;
  height: 30px;
  font-weight: 700;
  background-color: #0095f6;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

div.dialog button.btn-confirm {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 8px;
  background-color: #e23642
}

div.dialog button.btn-ok {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 8px;
  background-color: #0095f6;
}

div.dialog button.btn-cancel {
  background-color: white;
  color: #828282;
}

.dlg-form-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.liner {
  font-weight: 500;
  color: #dcdcdc;
  margin-left: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.liner:after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #dcdcdc;
  min-width: 20px;
  margin: auto;
}

.liner:after {
  margin-left: 10px;
  margin-top: 14px;
  margin-right: 15px;
}

.comments > hr {
  background-color: #0095f6;
  border: 10px solid #0095f6;
}

.comment {
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  margin-bottom: 5px;
}

.btn-delete-comment {
  margin-left: 15px;
  font-weight: 700;
  background-color: white;
  border: 0;
  cursor: pointer;
  color: #0095f6;
  font-size: x-small;
}

.comment-message {
  margin-left: 5px;
}

.comment-user-name {
  font-weight: 700;
}

.comment-when {
  margin-left: 5px;
  font-size: small;
  font-style: italic;
  display: flex;
  align-items: center;
}

button.btn-link {
  display: block;
  width: 100%;
  border: 0;
  height: 30px;
  background-color: white;
  color: #0095f6;
  cursor: pointer;
}

.profile {
  background-color: white;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 350px;
  text-align: center;
}

.profile-photo {
  position: relative;
  text-align: center;
}

.profile-photo > img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-edit-photo {
  padding: 80px;
  font-size: large;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  cursor: pointer;
}

.profile-edit-photo:hover {
  opacity: 1;
}

.profile button {
  margin-top: 10px;
}

.fa {
  font-size: 22px;
}

.div-like {
  padding-right: 5px;
}

.fa-heart-o {
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
  animation-duration: 1000ms;
  color: red;
  cursor: pointer;
}

.fa-heart {
  color: grey;
  cursor: pointer;
}

@keyframes like-heart-animation {

  0%,
  to {
    opacity: 0;
    transform: scale(0)
  }

  15% {
    opacity: .9;
    transform: scale(1.2)
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

