* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 220, 220);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logado {
  padding: 15px 0 0 15px;
  padding-right: 15px;
}

button.novo-post,
button.logoff {
  color: white;
  background-color: #0095f6;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
}

.headerLogo {
  padding: 15px 0 0 15px;
}

.headerLogoImg {
  background-image: url(img/735145cfe0a4.png);
  background-repeat: no-repeat;
  height: 42px;
  width: 125px;
  cursor: pointer;
}

.formLogin {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.logo {
  background-image: url(img/32f0a4f27407.png);
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  margin: 22px auto 22px;
}

.formLogin input[type=email],
.formLogin input[type=password] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formLogin input[type=submit],
.formLogin button {
  background-color: #0095f6;
  color: white;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
}

.validacao {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.formCadastro {
  border-radius: 4px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.formCadastro h2 {
  color: rgb(142, 142, 142);
  font-size: 17px;
  padding-bottom: 15px;
}

.formCadastro input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formCadastro input[type=submit],
.formCadastro button {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 0;
  background-color: #0095f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.formCadastro input[type=submit]:disabled {
  color: white;
  background-color: rgba(0, 149, 246, 0.3);
  border-color: rgba(0, 0, 0, 0);
}

.regrasCadastro {
  font-size: 12px;
  color: rgb(142, 142, 142);
  text-align: center;
}

.modalUpload {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.formUpload {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.fechar {
  position: absolute;
  right: -10px;
  top: -10px;
  text-align: center;
  color: white;
  line-height: 30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0095f6;
}

.formUpload textarea  {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
  outline: none;
  resize: none;
}

.formUpload h2 {
  color: rgb(142, 142, 142);
  font-size: 22px;
  padding-bottom: 15px;
}

.formUpload input {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 0;
  background-color: #0095f6;
  cursor: pointer;
  color: white;
}

.formUpload input[type=submit]:disabled {
  color: white;
  background-color: rgba(0, 149, 246, 0.3);
  border-color: rgba(0, 0, 0, 0);
}

.upload-box-file:hover + label strong {
  color: #0095f6;
}

.progresso {
  display: none;
}

.upload-box-uploading,
.upload-box-success,
.upload-box-error {
  display: none;
}

.upload-box {
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 1.25rem; /* 20 */
  background-color: #f7f7f7;
  position: relative;
  padding: 100px 20px;
  outline: 1px dashed #0095f6;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

#file {
  line-height: normal;
  display: inline-block;
  border: none;
  padding: 0;
  border-radius: 0;
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

div.upload-box-input label {
  cursor: pointer;
}

.upload-box-icon {
  width: 100%;
  height: 80px;
  fill: #0095f6;
  display: block;
  margin-bottom: 40px;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  vertical-align: middle;
  pointer-events: none;
}

.upload-box-preview img {
  max-width: 500px;
  max-height: 500px;
  cursor: pointer;
}

.preview {
  padding: 0;
}

.oculto {
  display: none;
}

.publicacao {
  background-color: white;
  max-width: 700px;
  margin: 10px auto;
  border-radius: 4px;
}

.publicacao > img {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
}

.publicacao > p {
  padding: 10px;
}

.publicacao form {
  padding: 20px;
}

.publicacao textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}

.publicacao input[type=submit] {
  background-color: #0095f6;
  cursor: pointer;
  color: white;
  border: 0;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: 700;
}

.btn-excluir-post {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  font-weight: 700;
  float: right;
  background-color: #0095f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.confirm-dlg {
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  width: 80%;
  height: 250px;
  max-width: 500px;
}

div.dialog p.dlg-titulo {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

div.dlg-msg {
  font-size: 16px;
  font-weight: 500;
  color: #e23642;
  background-color: #fbe9e7;
  height: 140px;
  width: 100%;
  padding-top: 10px;
  margin-top: 15px;
}

.dlg-msg > p {
  margin-top: 10px;
  margin-left: 62px;
  text-align: left;
}

img.dlg-icone {
  width: 30px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  left: 0;
  margin-left: 30px;
  margin-top: 15px;
}

div.dialog button {
  width: auto;
  height: 30px;
  font-weight: 700;
  background-color: #0095f6;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

div.dialog button.sim {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 8px;
  background-color: #e23642
}

div.dialog button.nao {
  background-color: white;
  color: #828282;
}

.dlg-botoes {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}