* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 220, 220);
}

.headerLogo {
  padding: 15px 0 0 15px;
  background-color: white;
}

.headerLogoImg {
  background-image: url(img/735145cfe0a4.png);
  background-repeat: no-repeat;
  height: 42px;
  width: 125px;
  cursor: pointer;
}

.formLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.logo {
  background-image: url(img/32f0a4f27407.png);
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  margin: 22px auto 22px;
}

.formLogin input[type=email],
.formLogin input[type=password] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formLogin input[type=submit],
.formLogin button {
  background-color: #0095f6;
  color: white;
  border: 0;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 100%;
}

.validacao {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.formCadastro {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.formCadastro h2 {
  color: rgb(142, 142, 142);
  font-size: 17px;
  padding-bottom: 15px;
}

.formCadastro input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formCadastro input[type=submit],
.formCadastro button {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 0;
  background-color: #0095f6;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.formCadastro input[type=submit]:disabled {
  color: white;
  background-color: rgba(0, 149, 246, 0.3);
  border-color: rgba(0, 0, 0, 0);
}

.regrasCadastro {
  font-size: 12px;
  color: rgb(142, 142, 142);
  text-align: center;
}